body {
  font-family: Arial, Helvetica, sans-serif;
  direction: rtl;
  box-sizing: border-box;
  line-height: 1.5;
  text-align: center;
  background-image: url(../images/background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  min-height: 100vh;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
:root {
  --gold-color:#CE681D;
  --light-gold-color:#ffeb59;
  --gray-color:#555555;
  --light-gray-color:#e9e7e7;
  --light-green: #025318c2
}
.logo-sec {
  /* background-image: url(../images/2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  width: 100%;
  background-position: center; */
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 50px;
}
.logo-sec img {
  width: 80px;
  object-fit: cover;

}

h2 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: white;
  animation-name: moving;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
p {
  text-align: center;
  font-size: 25px;
  font-weight: normal;
  color: var(--gray-color);
}
img {
  width: 100%;
}
.sites {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.who .row, .aim .row, .sites .row {
  align-items: center;
}
.txt-col {
}
.img-col {
  padding: 0;
}
.who {
  padding-top: 50px;
}
.contact {
  width: 100%;
  margin: 20px auto;

}
i {
  font-size: 22px;  
}
.sites {
  padding-top: 20px;
}
.contact a {
  text-decoration: none;
  border: 2px solid var(--gold-color);
  border-radius: 0  30px 30px 30px;
  width: 100%;
  display: inline-block;
  background-color: var(--gold-color);
  color: white;
  padding: 10px;
  transition: all .2s ease-in-out;
  font-size: 20px;
  box-shadow: 0px 5px 10px var(--gray-color);
  letter-spacing: 3.2px;
  
}
.contact.tel a i {
  font-size: 15px;
}

.contact a:hover {
  background-color: white;
  color: var(--gold-color);
  margin-right:5px ;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  margin: 20px 0 0 0;
  padding: 10px;
  background-color: var(--light-green);
}
.footer p {
  font-size: 16px;
  margin: 0;
  color: white;
}


@media (max-width:766px){
  .aim .row {
    flex-direction: column-reverse;
  }

}
@keyframes moving {
  0% {
    transform: translateX(0);
  }
  50% {
    /* transform: translateX(10px); */
    transform: translateY(10px);
  }
  100% {
    /* transform: translateX(0); */
    transform: translateY(0px);

  }
}